# Import GMLs

In [2]:
import networkx as nx
SNet = nx.read_gml("data/graphs/snet.gml")
SNetF = nx.read_gml("data/graphs/snetf.gml")
SNetT = nx.read_gml("data/graphs/snett.gml")
UserNet = nx.read_gml("data/graphs/usernet.gml")

In [3]:
print(nx.info(SNet))
print(nx.info(SNetF))
print(nx.info(SNetT))
print(nx.info(UserNet))

Name:
Type: Graph
Number of nodes: 4191
Number of edges: 135974
Average degree:  64.8886
Name:
Type: Graph
Number of nodes: 4191
Number of edges: 6113
Average degree:   2.9172
Name:
Type: Graph
Number of nodes: 39
Number of edges: 741
Average degree:  38.0000
Name:
Type: DiGraph
Number of nodes: 18975
Number of edges: 102043
Average in degree:   5.3778
Average out degree:   5.3778

# Centrality analysis

## 16 Degree, closeness and betweenness centralities. Summary of most notable elements

In [63]:
import pandas as pd

def centralities(graph):
    centralities = pd.DataFrame(graph.nodes(), columns=['subreddit'])
    if nx.is_directed(graph):
        dir_degree = directed_degree_centrality(graph)
        centralities["in_dc"] = nx.in_degree_centrality(graph).values()
        centralities["out_dc"] = nx.out_degree_centrality(graph).values()
        
    centralities["dc"] = nx.degree_centrality(graph).values()
    centralities["cc"] = nx.closeness_centrality(graph).values()
    centralities["bc"] = nx.betweenness_centrality(graph).values()

    return centralities

def print_export_all(cs, graph_name, columns=None, first_n=None):
    
    def export_centrality(centrality_name):
        df_ = cs[[cs.columns[0], centrality_name]].round({centrality_name: 5}).sort_values(centrality_name, ascending=False).iloc[:10]
        df_.to_csv(f"data/pandas/centrality-analysis/{graph_name}/{centrality_name}_centrality.csv")
    
    
    columns_to_write = cs.columns if columns == None else columns
    n = first_n if first_n != None else len(cs)

    for i in range(1, len(cs.columns)):
        if cs.columns[i] in columns_to_write:
            print(cs.columns[i])
            export_centrality(cs.columns[i])
            display(cs[[cs.columns[0], cs.columns[i]]].sort_values(cs.columns[i], ascending=False).iloc[:n])

In [5]:
import pickle

def write(graph_name, centrality):
    pickle.dump(centrality, open(f"data/centralities/{graph_name.lower()}_centralities", "wb"))
    
def get_centrality(graph_name, graph, overwrite_centrality=False):
    def create_and_write(graph_name, graph):
            centrality = centralities(graph)
            write(graph_name, centrality)
            return centrality
        
    try:
        if overwrite_centrality:
            return create_and_write(graph_name, graph)
        else:
            return pickle.load(open(f"data/centralities/{graph_name.lower()}_centralities", "rb"))
    except (OSError, IOError, FileNotFoundError) as e:
        return create_and_write(graph_name, graph)

In [9]:
snet_centralities = get_centrality("SNet", SNet) #, overwrite_centrality=True)

In [41]:
print_export_all(snet_centralities, "SNet", first_n=10)

dc

         subreddit        dc
0       reddit.com  0.714320
2         politics  0.489976
90      technology  0.489499
38            pics  0.480907
135          funny  0.468496
1          science  0.464678
5    entertainment  0.456325
42       worldnews  0.454654
7      programming  0.450119
103            WTF  0.449403

cc

         subreddit        cc
0       reddit.com  0.722837
90      technology  0.576672
2         politics  0.576304
38            pics  0.571567
135          funny  0.565136
1          science  0.563258
5    entertainment  0.559424
42       worldnews  0.558732
7      programming  0.555755
103            WTF  0.555755

bc

         subreddit        bc
0       reddit.com  0.248260
90      technology  0.031858
7      programming  0.029536
2         politics  0.028278
8         business  0.026771
38            pics  0.025234
5    entertainment  0.024741
42       worldnews  0.021677
135          funny  0.021132
1          science  0.020552

In [38]:
snetf_centralities = get_centrality("SnetF", SNetF) #, overwrite_centrality=True)

In [43]:
print_export_all(snetf_centralities, "SNetF", first_n=10)

dc

         subreddit        dc
0       reddit.com  0.057041
38            pics  0.050597
2         politics  0.050119
1          science  0.049403
90      technology  0.049403
135          funny  0.048687
42       worldnews  0.047971
103            WTF  0.046539
5    entertainment  0.046062
7      programming  0.044391

cc

         subreddit        cc
0       reddit.com  0.057056
38            pics  0.051061
2         politics  0.050694
1          science  0.050152
90      technology  0.050152
135          funny  0.049623
42       worldnews  0.049104
103            WTF  0.048098
5    entertainment  0.047772
7      programming  0.046665

bc

         subreddit        bc
0       reddit.com  0.000857
2         politics  0.000180
38            pics  0.000178
90      technology  0.000150
1          science  0.000148
7      programming  0.000140
135          funny  0.000138
42       worldnews  0.000134
103            WTF  0.000107
5    entertainment  0.000103

In [45]:
snett_centralities = get_centrality("SNetT", SNetT)

In [46]:
print_export_all(snett_centralities, "SNetT", first_n=10)

dc

      subreddit   dc
0    reddit.com  1.0
29        funny  1.0
22      atheism  1.0
23       bestof  1.0
24   technology  1.0
25          WTF  1.0
26       canada  1.0
27         geek  1.0
28  photography  1.0
30      history  1.0

cc

      subreddit   cc
0    reddit.com  1.0
29        funny  1.0
22      atheism  1.0
23       bestof  1.0
24   technology  1.0
25          WTF  1.0
26       canada  1.0
27         geek  1.0
28  photography  1.0
30      history  1.0

bc

      subreddit   bc
0    reddit.com  0.0
29        funny  0.0
22      atheism  0.0
23       bestof  0.0
24   technology  0.0
25          WTF  0.0
26       canada  0.0
27         geek  0.0
28  photography  0.0
30      history  0.0

In [47]:
usernet_centralities = get_centrality("UserNet", UserNet) #, overwrite_centrality=True)

In [56]:
print_export_all(usernet_centralities, "UserNet", first_n=10)

in_dc

            subreddit     in_dc
353   NoMoreNicksLeft  0.024507
47               7oby  0.022873
27           mutatron  0.021292
177         Poromenos  0.017392
368           fingers  0.016338
457            matts2  0.015969
760   amstrdamordeath  0.015811
60           MrKlaatu  0.015811
1113     nixonrichard  0.015495
455        malcontent  0.015284

out_dc

           subreddit    out_dc
1508          alllie  0.055866
47              7oby  0.049120
1179          rmuser  0.045272
86             qgyh2  0.039791
355         deuteros  0.029092
92         tsteele93  0.027511
798           bobcat  0.023032
209       grauenwolf  0.017919
1689           Aerik  0.017340
33    AMerrickanGirl  0.017129

dc

            subreddit        dc
47               7oby  0.071993
1508           alllie  0.066249
1179           rmuser  0.050701
86              qgyh2  0.047855
355          deuteros  0.038421
92          tsteele93  0.035997
353   NoMoreNicksLeft  0.034784
798            bobcat  0.031042
27           mutatron  0.028249
82         jordanlund  0.025772

cc

            subreddit        cc
47               7oby  0.191426
353   NoMoreNicksLeft  0.189188
27           mutatron  0.183276
368           fingers  0.182613
177         Poromenos  0.182364
760   amstrdamordeath  0.181606
60           MrKlaatu  0.181215
466        sakebomb69  0.180446
485      uteunawaytay  0.178815
1113     nixonrichard  0.177569

bc

            subreddit        bc
47               7oby  0.038758
1508           alllie  0.021461
86              qgyh2  0.015406
1179           rmuser  0.014558
353   NoMoreNicksLeft  0.012480
27           mutatron  0.010970
92          tsteele93  0.010731
355          deuteros  0.009837
798            bobcat  0.008828
445         glengyron  0.008512

## 17 Most important actors by *Eigenvector* centrality? What can we deduce? 

Variant of the degree centrality which takes into consideration the node's neighborhood. We can learn about it's power and influence.
* A more powerful node is that node which stands out as the one with the most edges, controling the troughput
* A more influencal node is that node which blends into a well connected neighborhood, having many edges as well

In [60]:
def eigenvector_centrality2(graph):
    dict_ec = nx.eigenvector_centrality(graph, weight="weight")
    ec = pd.DataFrame.from_dict(dict_ec, orient="index", columns=["eigenvector_centrality"])
    ec.index.name = "subreddit"
    ec.sort_values(by="eigenvector_centrality", ascending=False, inplace=True)
    return ec

def eigenvector_centrality(graph, centralities):
    centralities["evc"] = nx.eigenvector_centrality(graph, weight="weight").values()

In [61]:
eigenvector_centrality(SNet, snet_centralities)

In [64]:
print_export_all(snet_centralities, "SNet", columns="evc", first_n=10)

evc

         subreddit       evc
0       reddit.com  0.384282
2         politics  0.315704
38            pics  0.292063
135          funny  0.280539
1          science  0.273836
90      technology  0.265365
42       worldnews  0.258570
103            WTF  0.253545
5    entertainment  0.253039
7      programming  0.220225

In [67]:
eigenvector_centrality(SNetF, snetf_centralities)

In [68]:
print_export_all(snetf_centralities, "SNetF", columns="evc", first_n=10)

evc

         subreddit       evc
0       reddit.com  0.384340
2         politics  0.315757
38            pics  0.292108
135          funny  0.280581
1          science  0.273877
90      technology  0.265404
42       worldnews  0.258607
103            WTF  0.253581
5    entertainment  0.253076
7      programming  0.220253

In [69]:
eigenvector_centrality(SNetT, snett_centralities)

In [70]:
print_export_all(snett_centralities, "SNetT", columns="evc", first_n=10)

evc

        subreddit       evc
0      reddit.com  0.388978
2        politics  0.319382
15           pics  0.295185
29          funny  0.283491
1         science  0.276774
24     technology  0.268279
16      worldnews  0.261412
25            WTF  0.256010
3   entertainment  0.255542
4     programming  0.222823

In [71]:
eigenvector_centrality(UserNet, usernet_centralities)

In [73]:
print_export_all(usernet_centralities, "UserNet", columns="evc", first_n=10)

evc

            subreddit       evc
455        malcontent  0.610884
445         glengyron  0.489433
457            matts2  0.193855
1764      eaturbrainz  0.154584
353   NoMoreNicksLeft  0.152510
47               7oby  0.135996
129          43P04T34  0.105374
333        mexicodoug  0.098352
1129        otakucode  0.095792
466        sakebomb69  0.095213

## 18 Rank nodes using the *Katz* centrality with parameter variation. Play with the beta parameter for the subreddit "reddit.com". Show most important actors, with and without specific betas

* Katz centrality computes the centrality for a node based on the centrality of its neighbors. It is a generalization of the eigenvector centrality.
* The parameter  controls the initial centrality 

 
* Katz centrality computes the relative influence of a node within a network by measuring the number of the immediate neighbors (first degree nodes) and also all other nodes in the network that connect to the node under consideration through these immediate neighbors.

* This algorithm it uses the power method to find the eigenvector corresponding to the largest eigenvalue of the adjacency matrix of G. The parameter alpha should be strictly less than the inverse of largest eigenvalue of the adjacency matrix for the algorithm to converge. You can use max(nx.adjacency_spectrum(G)) to get  the largest eigenvalue of the adjacency matrix. The iteration will stop after max_iter iterations or an error tolerance of number_of_nodes(G) * tol has been reached.

* When $$ \alpha=\frac{1}{\lambda} $$ and $$\beta=0$$ , Katz centrality is the same as eigenvector centrality.

In [328]:
def get_alpha(graph):
    lambda_max = max(nx.adjacency_spectrum(graph))
    print(f"Max Lambda: {lambda_max}")
    print(f"alpha need to be < {1.0/lambda_max}")

In [329]:
get_alpha(SNet), get_alpha(SNetF), get_alpha(SNetT)

Max Lambda: (158672.32654746872+0j)
alpha need to be < (6.30229619593331e-06+0j)
Max Lambda: (158645.5693695278+0j)
alpha need to be < (6.30335914185371e-06+0j)
Max Lambda: (155722.39506192337+0j)
alpha need to be < (6.421683917732884e-06+0j)

(None, None, None)

Since there is no need to run UserNet against a subreddit, I will skip Katz' centrality for it.

Also, alpha need to be smaller than all three values, so I will take 6.0e-06 as a smaller value

In [77]:
alpha = 6e-8 # must be smaller then 0.000006[302... 6.30229619593331e-06]
special_node = "reddit.com"
special_bets = [1.0, 2.0, 4.0, 64.0, 4096.0] # experiment

def katz_centrality(graph, beta=1.0):
    dict_kc = nx.katz_centrality(graph, alpha=alpha, beta=beta, weight="weight")
    kc = pd.DataFrame.from_dict(dict_kc, orient="index", columns=["katz_centrality"])
    kc.index.name = "subreddit"
    kc.sort_values(by="katz_centrality", ascending=False, inplace=True)
    return kc

def special_katz_centrality(graph, special_beta):
    beta_dict = dict([(node, 1.0) for node in graph.nodes()])
    beta_dict[special_node] = special_beta
    return katz_centrality(graph, beta_dict)

def run_katz_regular_and_experiments(graph_name, graph):
    def export_katz(graph_name, kc, beta):
        df_ = kc.round({"katz_centrality": 5}).iloc[:10]
        df_.to_csv(f"data/pandas/centrality-analysis/{graph_name}/katz_centrality_{beta}.csv")
        
    print(f"{graph_name}'s Katz centrality")

    for i in range(len(special_bets)):
        print(f"Beta value: {special_bets[i]}")
        kc = special_katz_centrality(graph, special_bets[i])
        if i in [0, 1, 4]:
            export_katz(graph_name, kc, special_bets[i])
        display(kc)

In [78]:
run_katz_regular_and_experiments("SNet", SNet)

SNet's Katz centrality
Beta value: 1.0

            katz_centrality
subreddit
reddit.com         0.015769
politics           0.015705
pics               0.015689
funny              0.015679
science            0.015676
...                     ...
cts                0.015446
TUPOEorg           0.015446
Joseph4u           0.015446
globalpoon         0.015446
AllAccess          0.015446

[4191 rows x 1 columns]

Beta value: 2.0

              katz_centrality
subreddit
reddit.com           0.031203
politics             0.015724
pics                 0.015704
funny                0.015692
science              0.015688
...                       ...
OhWord               0.015440
oseun                0.015440
Oliviaryan           0.015440
webmaster123         0.015440
dilipm               0.015440

[4191 rows x 1 columns]

Beta value: 4.0

                     katz_centrality
subreddit
reddit.com                  0.061994
politics                    0.015751
pics                        0.015721
funny                       0.015708
science                     0.015702
...                              ...
downloadfromyoutube         0.015418
Subzero                     0.015418
OddSizeBeds                 0.015418
adnerds                     0.015418
cts                         0.015418

[4191 rows x 1 columns]

Beta value: 64.0

                katz_centrality
subreddit
reddit.com             0.703061
politics               0.012287
pics                   0.012053
funny                  0.011996
technology             0.011984
...                         ...
nutrition              0.010982
BlogVibrations         0.010982
newsfusion             0.010982
akilito                0.010982
Cliche                 0.010982

[4191 rows x 1 columns]

Beta value: 4096.0

                 katz_centrality
subreddit
reddit.com              0.999862
politics                0.001868
pics                    0.001545
funny                   0.001473
technology              0.001468
...                          ...
fantasyfootball         0.000244
PotterNerds             0.000244
newsben                 0.000244
eOffice                 0.000244
MooreForWomen           0.000244

[4191 rows x 1 columns]

In [79]:
run_katz_regular_and_experiments("SNetF", SNetF)

SNetF's Katz centrality
Beta value: 1.0

               katz_centrality
subreddit
reddit.com            0.015761
politics              0.015698
pics                  0.015683
funny                 0.015673
science               0.015669
...                        ...
ManchesterUTD         0.015446
apod                  0.015446
implead               0.015446
FREE                  0.015446
timelapses            0.015446

[4191 rows x 1 columns]

Beta value: 2.0

               katz_centrality
subreddit
reddit.com            0.031195
politics              0.015717
pics                  0.015697
funny                 0.015686
science               0.015682
...                        ...
ManchesterUTD         0.015440
apod                  0.015440
implead               0.015440
FREE                  0.015440
timelapses            0.015440

[4191 rows x 1 columns]

Beta value: 4.0

               katz_centrality
subreddit
reddit.com            0.061986
politics              0.015745
pics                  0.015715
funny                 0.015701
science               0.015695
...                        ...
ManchesterUTD         0.015418
apod                  0.015418
implead               0.015418
FREE                  0.015418
timelapses            0.015418

[4191 rows x 1 columns]

Beta value: 64.0

               katz_centrality
subreddit
reddit.com            0.703065
politics              0.012282
pics                  0.012048
funny                 0.011991
technology            0.011979
...                        ...
ManchesterUTD         0.010982
apod                  0.010982
implead               0.010982
FREE                  0.010982
timelapses            0.010982

[4191 rows x 1 columns]

Beta value: 4096.0

               katz_centrality
subreddit
reddit.com            0.999862
politics              0.001868
pics                  0.001545
funny                 0.001473
technology            0.001468
...                        ...
ManchesterUTD         0.000244
apod                  0.000244
implead               0.000244
FREE                  0.000244
timelapses            0.000244

[4191 rows x 1 columns]

In [80]:
run_katz_regular_and_experiments("SNetT", SNetT)

SNetT's Katz centrality
Beta value: 1.0

               katz_centrality
subreddit
reddit.com            0.162015
politics              0.161463
pics                  0.161318
funny                 0.161231
science               0.161197
technology            0.161126
worldnews             0.161072
WTF                   0.161051
entertainment         0.161027
programming           0.160805
business              0.160775
offbeat               0.160377
gaming                0.160339
atheism               0.160049
comics                0.160034
AskReddit             0.159998
Economics             0.159989
nsfw                  0.159945
videos                0.159942
environment           0.159934
gadgets               0.159926
geek                  0.159873
obama                 0.159777
bestof                0.159640
news                  0.159631
linux                 0.159622
Health                0.159559
scifi                 0.159555
cogsci                0.159529
math                  0.159494
philosophy            0.159490
netsec                0.159483
history               0.159434
canada                0.159424
photography           0.159422
software              0.159372
guns                  0.159368
joel                  0.159325
ideas                 0.159322

Beta value: 2.0

               katz_centrality
subreddit
reddit.com            0.309496
politics              0.155770
pics                  0.155580
funny                 0.155486
science               0.155446
technology            0.155384
worldnews             0.155314
WTF                   0.155285
entertainment         0.155283
programming           0.155036
business              0.155021
offbeat               0.154554
gaming                0.154523
atheism               0.154214
comics                0.154194
AskReddit             0.154157
Economics             0.154152
nsfw                  0.154106
videos                0.154100
environment           0.154093
gadgets               0.154085
geek                  0.154026
obama                 0.153931
bestof                0.153784
news                  0.153776
linux                 0.153770
Health                0.153703
scifi                 0.153698
cogsci                0.153671
math                  0.153637
philosophy            0.153632
netsec                0.153626
history               0.153574
canada                0.153565
photography           0.153563
software              0.153511
guns                  0.153507
joel                  0.153465
ideas                 0.153460

Beta value: 4.0

               katz_centrality
subreddit
reddit.com            0.543589
politics              0.137812
pics                  0.137558
funny                 0.137455
science               0.137407
technology            0.137364
worldnews             0.137272
entertainment         0.137264
WTF                   0.137229
business              0.137000
programming           0.136989
offbeat               0.136441
gaming                0.136421
atheism               0.136098
comics                0.136072
Economics             0.136037
AskReddit             0.136035
nsfw                  0.135988
videos                0.135977
environment           0.135973
gadgets               0.135965
geek                  0.135900
obama                 0.135812
bestof                0.135656
news                  0.135649
linux                 0.135648
Health                0.135579
scifi                 0.135572
cogsci                0.135545
math                  0.135513
philosophy            0.135507
netsec                0.135503
history               0.135449
canada                0.135443
photography           0.135440
software              0.135389
guns                  0.135385
joel                  0.135346
ideas                 0.135339

Beta value: 64.0

               katz_centrality
subreddit
reddit.com            0.995084
politics              0.017342
pics                  0.017011
funny                 0.016932
technology            0.016917
science               0.016883
entertainment         0.016868
worldnews             0.016801
WTF                   0.016738
business              0.016725
programming           0.016640
gaming                0.016178
offbeat               0.016153
atheism               0.015967
Economics             0.015936
comics                0.015932
AskReddit             0.015912
nsfw                  0.015902
environment           0.015889
gadgets               0.015883
videos                0.015882
geek                  0.015829
obama                 0.015806
linux                 0.015712
news                  0.015699
bestof                0.015698
Health                0.015670
scifi                 0.015662
cogsci                0.015647
math                  0.015639
netsec                0.015634
philosophy            0.015631
canada                0.015606
history               0.015601
photography           0.015601
software              0.015576
guns                  0.015574
joel                  0.015564
ideas                 0.015552

Beta value: 4096.0

               katz_centrality
subreddit
reddit.com            0.999987
politics              0.001868
pics                  0.001545
funny                 0.001472
technology            0.001467
entertainment         0.001427
science               0.001426
worldnews             0.001354
business              0.001305
WTF                   0.001291
programming           0.001215
gaming                0.000790
offbeat               0.000760
atheism               0.000603
Economics             0.000577
comics                0.000569
AskReddit             0.000552
nsfw                  0.000547
environment           0.000534
gadgets               0.000530
videos                0.000527
geek                  0.000479
obama                 0.000465
linux                 0.000385
news                  0.000370
bestof                0.000369
Health                0.000348
scifi                 0.000340
cogsci                0.000328
math                  0.000323
netsec                0.000319
philosophy            0.000315
canada                0.000296
photography           0.000291
history               0.000290
software              0.000270
guns                  0.000269
joel                  0.000262
ideas                 0.000251

##  19 Taking into account the previous results, create a composite centrality (heuristic) used for finding the most influencial actors. Take into consideration the direction of network's edges.

In [367]:
import scipy.stats as stats

In [379]:
columns = ['dc', 'cc', 'bc', 'evc']
cross_correlation_matrix = pd.DataFrame(columns = columns, index = columns)
p_val_matrix = pd.DataFrame(columns = columns, index = columns)

def display_network_centralities_corelation(centralities):
    for ind in columns:
        for col in columns:
            cross_correlation_matrix[ind][col], p_val_matrix[ind][col] =  stats.kendalltau(centralities[ind], centralities[col])
    display(cross_correlation_matrix)

In [388]:
def display_network_centralities_corelation_directed(centralities):
    columns = ['in_dc', 'out_dc', 'dc', 'cc', 'bc', 'evc']
    cross_correlation_matrix = pd.DataFrame(columns = columns, index = columns)
    p_val_matrix = pd.DataFrame(columns = columns, index = columns)

    def display_network_centralities_corelation(centralities):
        for ind in columns:
            for col in columns:
                cross_correlation_matrix[ind][col], p_val_matrix[ind][col] =  stats.kendalltau(centralities[ind], centralities[col])
        display(cross_correlation_matrix)
        
    display_network_centralities_corelation(centralities)

In [380]:
display_network_centralities_corelation(snet_centralities)

           dc        cc        bc       evc
dc          1  0.911422  0.609986  0.886224
cc   0.911422         1  0.589153   0.93076
bc   0.609986  0.589153         1  0.611159
evc  0.886224   0.93076  0.611159         1

In [382]:
display_network_centralities_corelation(snetf_centralities)

           dc        cc        bc       evc
dc          1  0.999833  0.601048  0.998407
cc   0.999833         1   0.60102   0.99835
bc   0.601048   0.60102         1  0.600725
evc  0.998407   0.99835  0.600725         1

In [381]:
display_network_centralities_corelation(snett_centralities)

      dc   cc   bc  evc
dc   NaN  NaN  NaN  NaN
cc   NaN  NaN  NaN  NaN
bc   NaN  NaN  NaN  NaN
evc  NaN  NaN  NaN    1

There is no correlation between the centralities as SNetT is a complete graph, but this is not the case for SNet and SnetF.

As we can see, the DC, CC, BC and ECV were positivly coupled, we can merely get the product of the four.

**Composite Centrality = DC x CC x BC x EC**

In [389]:
display_network_centralities_corelation_directed(usernet_centralities)

            in_dc     out_dc        dc         cc        bc        evc
in_dc           1  0.0101579  0.572156   0.791484  0.506611   0.776835
out_dc  0.0101579          1  0.569698 -0.0156851  0.626385 -0.0191839
dc       0.572156   0.569698         1   0.441165  0.625256   0.430959
cc       0.791484 -0.0156851  0.441165          1  0.434603   0.926985
bc       0.506611   0.626385  0.625256   0.434603         1   0.427817
evc      0.776835 -0.0191839  0.430959   0.926985  0.427817          1

Here we get an interesting example: The Out-degree is negativly coupled! 
So for the UserNet's composite, I would drop the DC and rearrange the In_DC and Out_DC

**Composite Centrality UserNet = (In_DC / Out_DC) x CC x BC x EC**

todo rewrite

In [81]:
def composite_centrality_SNet(graph_name, centralities):
    copy = centralities
    columns = ["dc", "cc", "bc", "evc"]

    for metric in columns:
        copy[f"{metric}_rank"] = copy[metric].rank(ascending=False) 

    copy['composite_rank'] = copy['dc_rank'] * copy['cc_rank'] * copy['bc_rank'] * copy['evc_rank']
    cc = copy[["subreddit", "composite_rank"]].sort_values(['composite_rank'], ascending=True).head(10)
    
    cc.to_csv(f"data/pandas/centrality-analysis/{graph_name}/composite_centrality.csv")
    display(cc)

In [82]:
composite_centrality_SNet("SNet", snet_centralities)

         subreddit  composite_rank
0       reddit.com             1.0
2         politics            48.0
90      technology            72.0
38            pics           288.0
135          funny           900.0
1          science          1800.0
7      programming          2565.0
5    entertainment          3087.0
42       worldnews          3584.0
8         business          6655.0

In [83]:
composite_centrality_SNet("SNetF", snetf_centralities)

         subreddit  composite_rank
0       reddit.com            1.00
2         politics           36.00
38            pics           36.00
90      technology          486.00
1          science          506.25
135          funny         1008.00
42       worldnews         2744.00
103            WTF         4608.00
7      programming         6000.00
5    entertainment         7290.00

In [85]:
composite_centrality_SNet("SNetT", snett_centralities)

        subreddit  composite_rank
0      reddit.com          8000.0
2        politics         16000.0
15           pics         24000.0
29          funny         32000.0
1         science         40000.0
24     technology         48000.0
16      worldnews         56000.0
25            WTF         64000.0
3   entertainment         72000.0
4     programming         80000.0

In [102]:
def composite_centrality_UserNet(graph_name, centralities):
    copy = centralities
    columns = ["in_dc", "out_dc", "cc", "bc", "evc"]

    for metric in columns:
        copy[f"{metric}_rank"] = copy[metric].rank(ascending=False)

    copy['composite_rank'] = copy['cc_rank'] * copy['bc_rank'] * copy['evc_rank'] * copy['in_dc_rank'] / copy['out_dc_rank']
    cc = copy.sort_values(['composite_rank'], ascending=True).head(10)
    
    cc[["subreddit", "composite_rank"]].round({"composite_rank":5}).to_csv(f"data/pandas/centrality-analysis/{graph_name}/composite_centrality.csv")
    display(cc)

In [103]:
composite_centrality_UserNet("UserNet", usernet_centralities)

,subreddit,in_dc,out_dc,dc,cc,bc,evc,in_dc_rank,out_dc_rank,cc_rank,bc_rank,evc_rank,composite_rank
353,NoMoreNicksLeft,0.024507,0.010277,0.034784,0.189188,0.012480,0.152510,1.0,40.0,2.0,5.0,5.0,1.250000
47,7oby,0.022873,0.049120,0.071993,0.191426,0.038758,0.135996,2.0,2.0,1.0,1.0,6.0,6.000000
27,mutatron,0.021292,0.006957,0.028249,0.183276,0.010970,0.079680,3.0,83.0,3.0,6.0,14.0,9.108434
455,malcontent,0.015284,0.005639,0.020923,0.177307,0.005668,0.610884,10.0,120.5,11.0,19.0,1.0,17.344398
368,fingers,0.016338,0.002899,0.019237,0.182613,0.004657,0.056537,5.0,341.0,4.0,29.0,24.0,40.821114
760,amstrdamordeath,0.015811,0.003689,0.019500,0.181606,0.005810,0.080378,7.5,255.0,6.0,18.0,13.0,41.294118
457,matts2,0.015969,0.003373,0.019342,0.177058,0.003335,0.193855,6.0,288.5,14.0,50.0,3.0,43.674177
466,sakebomb69,0.014494,0.001687,0.016180,0.180446,0.003050,0.095213,11.0,629.0,8.0,52.0,10.0,72.750397
177,Poromenos,0.017392,0.002582,0.019975,0.182364,0.002872,0.055088,4.0,388.0,5.0,56.0,28.0,80.824742
60,MrKlaatu,0.015811,0.001845,0.017656,0.181215,0.004245,0.030794,7.5,572.0,7.0,30.0,67.0,184.484266